/* GENERAL ATTRIBUTES */
:root {
    --body-height: 100vh;
    --body-width: 100vw;
    --card1-width: 90%;
    --card2-width: 60%;
    --card3-width: 40%;
    --card4-width: 25%;
    --display1: flex;
    --display2: grid;
    --font1-size: 1rem;
    --font1-1-size: 1.25rem;
    --font2-size: 2rem;
    --font3-size: 3rem;
    --font4-size: 4rem;
    --font5-size: 5rem;
    --margin-null: 0;
    --neutral-Color: #f8edeb;
    --padding-null: 0;
    --principal-Color: #ffb5a7;
    --principal2-Color: #fcd5ce;
    --secondary-Color: #fec89a;
    --secondary2-Color: #f9dcc4;
}

#side-btn {
    background-color: rgba(255, 0, 0, 0);
    border: 0;
    opacity: 100%;
    position: fixed;
    transition: all 1s ease-out;
}

#loader {
    width: var(--body-width);
    height: var(--body-height);
    display: var(--display1);
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/* 
#side-btn:hover{
    opacity: 100%;
    transition: all 1s ease-out; for PC media
} */

#side-btn > i {
    color: var(--neutral-Color);
}
/* BODY DESIGN */
body {
    background: url("../assets/spa-soap-lavender-salt-coffee.jpg");
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    height: 121vh;
    margin: var(--margin-null);
    padding: var(--padding-null);
    width: var(--body-width);
    overflow-x: hidden;
}
nav {
    background-color: var(--principal-Color);
    z-index: 20;
    font-size: 1.5rem;
}
/* WELCOME DESIGN */
#welcome-container {
    background-color: var(--neutral-Color);
    margin-top: var(--margin-null);
    padding: 3rem 0 3rem 0;
    text-align: center;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 25rem;
}
#welcome-container :nth-child(odd) {
    margin-top: 2rem;
    padding-bottom: 3rem;
    font-weight: bold;
}
#welcome-container :nth-child(2) {
    font-weight: 600;
    margin: 0 3rem;
}

#welcome-text {
    width: 70%;
    text-align: center;
}

.info {
    text-shadow: 0 0 0.5rem var(--principal-Color),
        0 0 0.5rem var(--principal-Color), 0 0 0.5rem var(--principal-Color),
        0 0 0.5rem var(--principal-Color);
    font-weight: 500;
    margin: 1rem;
    text-align: center;
}

#services-container {
    padding: 2rem;
    background-color: var(--secondary-Color);
    width: 100%;
    display: var(--display2);
}

#services-container > :first-child {
    color: rgba(0, 0, 0, 0.67);
    font-weight: bold;
    margin-bottom: 2rem;
}

#services-container .btn {
    color: rgba(0, 0, 0, 0.57);
    transform: scale(1);
    transition: all 1s;
}
#services1 p,
#services2 p,
#services3 p {
    font-size: 1.25rem;
}

.btn1 {
    background-image: url("../assets/service1.jpg");
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    width: 30%;
    height: 20rem;
}
.btn2 {
    background-image: url("../assets/service2.jpg");
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    width: 30%;
    height: 20rem;
}
.btn3 {
    background-image: url("../assets/service3.jpg");
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    width: 30%;
    height: 20rem;
}
.product img {
    margin: auto;
    width: 80%;
}

#products-container {
    background-color: var(--secondary2-Color);
}

footer {
    background-color: var(--principal-Color);
}

@media (max-width: 300px) {
    #side-btn > i {
        font-size: var(--font1-1-size);
    }
    #welcome-container :nth-child(odd) {
        font-size: var(--font2-size);
    }
    #welcome-container :nth-child(2) {
        text-shadow: 0 0 0.5rem #d0877a, 0 0 0.5rem #d0877a, 0 0 0.5rem #d0877a;
        font-size: var(--font1-size);
    }
}
@media (min-width: 400px) {
    #side-btn > i {
        font-size: var(--font1-1-size);
    }
    #welcome-container :nth-child(odd) {
        font-size: var(--font2-size);
    }
    #welcome-container :nth-child(2) {
        font-size: var(--font1-1-size);
    }
}

@media (min-width: 500px) {
    #side-btn > i {
        font-size: var(--font1-1-size);
    }
    #welcome-container :nth-child(odd) {
        font-size: var(--font3-size);
    }
    #welcome-container :nth-child(2) {
        text-shadow: 0 0 0.5rem #d0877a, 0 0 0.5rem #d0877a, 0 0 0.5rem #d0877a,
            0 1rem 0.5rem #d0877a;
        font-size: var(--font1-1-size);
    }
}

@media (min-width: 750px) {
    body {
        height: 75vh;
    }
    #side-btn > i {
        font-size: var(--font1-1-size);
    }
    #welcome-container {
        padding-top: 3.5rem;
    }
    #welcome-container :nth-child(odd) {
        font-size: var(--font4-size);
    }
    #welcome-container :nth-child(2) {
        font-size: var(--font2-size);
    }
    #services-container .btn:hover {
        background-color: var(--neutral-Color);
        transform: scale(1.05);
        transition: all 1s;
        margin: 0 1rem;
        padding: 1.25rem;
        border-radius: 5px;
    }

    .pepe {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .info {
        width: 80%;
        color: black;
        font-weight: 500;
        margin: 1rem;
        font-size: 1.4rem;
        text-align: center;
    }

    #services-container #services1,
    #services2,
    #services3 {
        font-size: var(--font2-size);
    }
}

@media (min-width: 1024px) {
    body {
        height: 121vh;
    }
    #side-btn > i {
        font-size: var(--font1-1-size);
    }
    #welcome-container :nth-child(odd) {
        font-size: var(--font4-size);
    }
    #welcome-container :nth-child(2) {
        text-shadow: 0 0 0.5rem #d0877a, 0 0 0.5rem #d0877a, 0 0 0.5rem #d0877a,
            0 1rem 0.5rem #d0877a, 0 1rem 0.5rem #d0877a;
        font-size: var(--font1-1-size);
    }

    #services-container {
        padding: 4rem;
    }
    .pepe {
        display: var(--display1);
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    .info {
        height: 20rem;
        width: 80%;
        display: var(--display1);
        flex-flow: column;
        align-items: center;
        justify-content: center;
        font-size: var(--font2-size);
    }

    #services {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }
}
