/* GENERAL ATTRIBUTES */
:root{
    --principal-Color: #FFB5A7;
    --principal2-Color: #FCD5CE;
    --neutral-Color: #F8EDEB;
    --secondary-Color: #FEC89A;
    --secondary2-Color: #F9DCC4;
    --body-width: 100vw;
    --body-height: 100vh;
    --margin-null: 0;
    --padding-null: 0;
    --card1-width: 90%;
    --card2-width: 60%;
    --card3-width: 40%;
    --card4-width: 25%;
    --font1-size: 1rem;
    --font2-size: 2rem;
    --font3-size: 3rem;
    --font4-size: 4rem;
    --font5-size: 5rem;
    --display1: flex;
    --display2: grid;
}

#side-btn{
    background-color:  var(--principal-Color);
    position: fixed;
    opacity: 25%;
    transition: all 1s ease-out;
    border: 0;
}

#side-btn:hover{
    opacity: 100%;
    transition: all 1s ease-out;
}

#side-btn > i{
    color: var(--neutral-Color);
}

body{
    width: var(--body-width);
    height: var(--body-height);
    margin: var(--margin-null);
    padding: var(--padding-null);
}