/* GENERAL ATTRIBUTES */
:root {
    --body-height: 100vh;
    --body-width: 100vw;
    --card1-width: 90%;
    --card2-width: 60%;
    --card3-width: 40%;
    --card4-width: 25%;
    --display1: flex;
    --display2: grid;
    --font1-size: 1rem;
    --font1-1-size: 1.25rem;
    --font2-size: 2rem;
    --font3-size: 3rem;
    --font4-size: 4rem;
    --font5-size: 5rem;
    --margin-null: 0;
    --neutral-Color: #f8edeb;
    --padding-null: 0;
    --principal-Color: #ffb5a7;
    --principal2-Color: #fcd5ce;
    --secondary-Color: #fec89a;
    --secondary2-Color: #f9dcc4;
}

#side-btn {
    background-color: rgba(255, 0, 0, 0);
    border: 0;
    opacity: 100%;
    position: fixed;
    transition: all 1s ease-out;
}
/* 
#side-btn:hover{
    opacity: 100%;
    transition: all 1s ease-out; for PC media
} */

#side-btn > i {
    color: var(--neutral-Color);
}
/* BODY DESIGN */
body {
    background-color: var(--neutral-Color);
    height: var(--body-height);
    margin: var(--margin-null);
    padding: var(--padding-null);
    width: var(--body-width);
}

/* WELCOME DESIGN */
#welcome-container {
    /* background-color: var(--principal-Color); */
    background: url("../assets/spa-soap-lavender-salt-coffee.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin: var(--margin-null);
    padding: 3rem 0 3rem 0;
    text-align: center;
    width: 100%;
}
#welcome-container :nth-child(odd) {
    color: var(--principal2-Color);
    font-weight: bold;
    text-shadow: 0 0 0.5rem #d0877a, 0 0 0.5rem #d0877a, 0 0 0.5rem #d0877a,
        0 0 0.5rem #d0877a;
}
#welcome-container :nth-child(2) {
    color: var(--neutral-Color);
    text-shadow: 0 0 0.5rem #d0877a, 0 0 0.5rem #d0877a, 0 0 0.5rem #d0877a,
        0 1rem 0.5rem #d0877a, 0 1rem 0.5rem #d0877a, 0 1rem 0.5rem #d0877a;
    font-weight: 600;
    margin: 0 3rem;
}

#info{
    color: black;
    font-weight: 500;
    margin: 1rem ;
    text-align: center;
}

#services-container{
    padding: 2rem;
    background-color: var(--secondary-Color);
    width: 100%;
    display: var(--display2);
}

#services-container > :first-child{
    color: rgba(0, 0, 0, 0.670);
    font-weight: bold;
    margin-bottom: 2rem;
}

#services-container #services1,#services2,#services3{
    color: rgba(0, 0, 0, 0.570);
    transform: scale(1);
    transition: all 1s;
}
#services-container #services1:hover,#services2:hover,#services3:hover{
    background-color: white;
    transform: scale(1.05);
    transition: all 1s;
    margin: 1rem 0;
    padding: 1.25rem;
    border-radius: 5px;
}



@media (max-width: 300px) {
    #side-btn > i {
        font-size: var(--font1-1-size);
    }
    #welcome-container :nth-child(odd) {
        font-size: var(--font2-size);
    }
    #welcome-container :nth-child(2) {
        text-shadow: 0 0 0.5rem #d0877a, 0 0 0.5rem #d0877a, 0 0 0.5rem #d0877a;
        font-size: var(--font1-size);
    }
}
@media (min-width: 400px) {
    #side-btn > i {
        font-size: var(--font1-1-size);
    }
    #welcome-container :nth-child(odd) {
        font-size: var(--font3-size);
    }
    #welcome-container :nth-child(2) {
        font-size: var(--font1-1-size);
    }
}

@media (min-width: 500px) {
    #side-btn > i {
        font-size: var(--font1-1-size);
    }
    #welcome-container :nth-child(odd) {
        font-size: var(--font3-size);
    }
    #welcome-container :nth-child(2) {
        text-shadow: 0 0 0.5rem #d0877a, 0 0 0.5rem #d0877a, 0 0 0.5rem #d0877a,
            0 1rem 0.5rem #d0877a;
        font-size: var(--font1-1-size);
    }
}

@media (min-width: 750px) {
    #side-btn > i {
        font-size: var(--font1-1-size);
    }
    #welcome-container :nth-child(odd) {
        font-size: var(--font4-size);
    }
    #welcome-container :nth-child(2) {
        font-size: var(--font2-size);
    }
    #info{
        font-size: var(--font1-1-size);
    }
}

@media (min-width: 1024px) {
    #side-btn > i {
        font-size: var(--font1-1-size);
    }
    #welcome-container :nth-child(odd) {
        font-size: var(--font4-size);
    }
    #welcome-container :nth-child(2) {
        text-shadow: 0 0 0.5rem #d0877a, 0 0 0.5rem #d0877a, 0 0 0.5rem #d0877a,
            0 1rem 0.5rem #d0877a, 0 1rem 0.5rem #d0877a;
        font-size: var(--font1-1-size);
    }
    #pepe{
        display: var(--display1);
        flex-flow: column;
        align-items: center;
    }
    #info{
        width: 80%;
    }
}
